In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("dataset.csv")

In [3]:
data['salary($)'].unique()

array([87000, 86000, 76000, 56000, 89000, 69000, 57000, 79000, 74000,
       81000, 75000, 50000, 52000, 71000, 84000, 64000, 66000, 68000,
       60000, 85000, 82000, 54000, 78000, 65000, 53000, 72000, 80000,
       62000, 67000, 73000, 58000, 77000, 70000, 51000, 88000],
      dtype=int64)

In [4]:
data.head()

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           9                      5                           7      87000
1           3                      5                           5      86000
2           3                      3                           4      86000
3           8                      3                           9      76000
4           0                      8                          10      56000

In [5]:
X = data.iloc[:,:-1]
y=data.iloc[:,-1]

In [24]:
y.head()

0    87000
1    86000
2    86000
3    76000
4    56000
Name: salary($), dtype: int64

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
lm = LinearRegression()

In [9]:
lm.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
import pickle

In [11]:
import pickle
pickle.dump(lm, open("model.pkl", "wb"))