In [13]:
import pandas as pd
import numpy as np

In [14]:
data = pd.read_csv("hiring.csv")

In [15]:
data['experience'].unique()

array([nan, 'five', 'two', 'seven', 'three', 'ten', 'eleven'],
      dtype=object)

In [19]:
data.head(10)

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0               8.000000                           9      50000
1           0               8.000000                           6      45000
2           5               6.000000                           7      60000
3           2              10.000000                          10      65000
4           7               9.000000                           6      70000
5           3               7.000000                          10      62000
6          10               7.857143                           7      72000
7          11               7.000000                           8      80000

In [17]:
data['experience'] = data['experience'].replace(np.nan, 0)
data['experience'] = data['experience'].replace('five', 5)
data['experience'] = data['experience'].replace('two', 2)
data['experience'] = data['experience'].replace('seven', 7)
data['experience'] = data['experience'].replace('three', 3)
data['experience'] = data['experience'].replace('ten', 10)
data['experience'] = data['experience'].replace('eleven',11)

data['test_score(out of 10)'] = data['test_score(out of 10)'].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [18]:
data['test_score(out of 10)'] = data['test_score(out of 10)'].replace(np.nan,data['test_score(out of 10)'].mean())

In [5]:
X = data.iloc[:,:-1]
y=data.iloc[:,-1]

In [24]:
y.head()

0    87000
1    86000
2    86000
3    76000
4    56000
Name: salary($), dtype: int64

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
lm = LinearRegression()

In [9]:
lm.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
import pickle

In [11]:
import pickle
pickle.dump(lm, open("model.pkl", "wb"))